# Node modules
node_modules/

# Build output
dist/
build/

# System files
.DS_Store
Thumbs.db

# Logs
*.log*

# Environment variables
.env
.env.*.local

# Editor folders
.vscode/
.idea/

# OS-specific
*.swp

# Testing
coverage/
jest-cache/

# Firebase
.firebase/